{% extends "AppCoder/padre.html" %} 

{% load static %} 

{% block contenidoQueCambia %}

    Verifica que tu postulacion se haya cargado correctamente:
    <br>
        <br />
        <form action="/AppCoder/buscarenc/"     method="get">{% csrf_token %}
            <table>
                {{miFormulario.as_table}}
            </table>
            <input type="text" name="nombre_enc" id="nombre_enc">

            <input type="submit" value="Buscar" />
        </form>
    
        <a href="{%url 'Encargados' %}">Regresar</a>

{% endblock %}