{% extends "AppCoder/padre.html" %} 

{% load static %} 

{% block contenidoQueCambia %}

    Para corroborar que tu peticion se haya cargado correctamente, buscala:
    <br>
        <br />
        <form action="/AppCoder/buscarequi/"     method="get">{% csrf_token %}
            <table>
                {{miFormulario.as_table}}
            </table>
            <input type="text" name="nombre" id="nombre">

            <input type="submit" value="Buscar" />
        </form>
    
        <a href="{%url 'Equipo' %}">Regresar</a>

{% endblock %}