{% extends "AppCoder/padre.html" %} 


{% load static %} 

{% block contenidoQueCambia %}

      
        <br>
      <a class="btn btn-primary" href="{% url 'New' %}">Crear Nuevo Edificio</a>

        <ul>
            {% for edificio in object_list %}
                <br>
                <p>{{edificio.nombre_fantasia}}</p>
                
                <p>
                    <a href="{% url 'Detail' edificio.id %}">Ver</a>
                    <a href="{% url 'Edit' edificio.id %}">Editar</a>
                    <a href="{% url 'Delete' edificio.id %}">Borrar</a>
                </p>
            {% endfor %}

        </ul>
    

{% endblock %}