{% extends "AppCoder/padre.html" %} 

{% load static %} 

{% block contenidoQueCambia %}

    
    <p>Administramos consorcios en Capital Federal y GBA, conforme a las leyes vigentes, de manera profesional y personalizada utilizando las últimas tecnologías en el mercado. Administramos la más amplia variedad de consorcios en Propiedad Horizontal, Countries, Clubes de Campo, Estancias, Barrios Cerrados y Barrios Privados.</p>
    <p>En este momento tenemos a cargo mas de 30 consorcios</p>
    
    

{% endblock %}
