{% extends "AppCoder/padre.html" %} 

{% load static %} 

{% block contenidoQueCambia %}

    
    Integrante : {{nombre}} 
    <br>
    
    {%for equipo in apellido%}
        
        Apellido:

            {{equipo.apellido}}
            <br>
        Edad:
        
            {{equipo.edad}}
            <br>
        Numero de contacto:
            {{equipo.num_contacto}}
            <br>
        Mail de Contacto:
            {{equipo.mail_contacto}}
            
    {%endfor%}
    <br>
    <a href="{%url 'Equipo' %}">Regresar</a>    

{%endblock%}
